:root {
  --hover: #256f7a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Noto-Sans", sans-serif;
  background-color: #f0f0f0;
  color: #272626;
}

header {
  display: flex;
  background: url(../images/hero-img.webp);
  height: 180px;
  justify-content: space-between;
}

header h1 {
  display: flex;
  color: #000000;
  background-color: #5579929e;
  font-size: 1.5rem;
  font-weight: 500;
  width: 200px;
  height: fit-content;
  text-align: center;
  margin: 2% 4%;
  border-radius: 20px;
  padding: 4px;
}

header div {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin: 2%;
}

.join {
  padding: 10px 24px;
  background-color: #18535c;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 55% 0%;
}

.join:hover {
  background-color: var(--hover);
}

.join:active {
  background-color: #18535c;
}

nav {
  margin: 0 auto;
  max-width: 80%;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
  color: #000000;
}

#menu::before {
  content: "☰";
  color: black;
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: #24292a;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #889a9e;
  color: #2f3435;
  font-weight: 700;
}

.open a {
  display: block;
}

.active::before {
  content: "📍 "; /* just a wayfinding symbol for the user */
}

/* --------------- WEEK 06----------------- */

.banner {
  display: block;
  background-color: #0c4b54;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  position: relative;
  margin: 0 5%;
}

.banner button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* --- HOME / DISCOVER / DIRECTORY / JOIN --- */
main {
  margin: 7%;
}

.canva {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

/* ----------- WEATHER ------------- */
#member,
.weather {
  grid-column: 1 / 2;
  margin: 8%;
  margin-bottom: 0;
  padding: 5px 30px;
  width: 85%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

#member,
.weather {
  height: auto;
}

#weatherByDays {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  flex-wrap: wrap;
}

#weatherByDays figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  text-align: center;
  margin: 5% 0;
}

.weather h2 {
  font-weight: 600;
  font-size: 1.7em;
  text-align: center;
  margin-top: 7%;
}

.intro,
.events {
  margin: 20px;
  padding: 5px 30px 5px 10px;
  height: auto;
  width: 100%;
}

.intro {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.events {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.events img {
  min-width: 250px;
  height: auto;
  margin-top: 2%;
}

.event {
  margin-top: 2%;
}

/* Estilo para el botón */
.explore-button {
  background-color: #18535c;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 5% 0;
}

.explore-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
}

.explore-button:hover {
  background-color: var(--hover);
}

.spotlights {
  margin: 20px;
  padding: 5px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spotlight {
  width: 95%;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spotlight img {
  max-width: 280px;
  height: auto;
  margin: 6%;
}

.spotlight div {
  margin: 0 0 4% 4%;
}

footer {
  background-color: #24292a;
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

/* ---------------  WEEK 03 ------------ */
.visit-message {
  text-align: center;
  font-size: larger;
}

.main-content h2 {
  text-align: center;
  margin: 2%;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-gallery img {
  max-width: 280px;
  height: auto;
  margin-bottom: 1%;
}

.photo-gallery span {
  margin: 1% 16% 4% 16%;
  font: caption;
}

/* ----- CALENDAR ------ */
.month {
  padding: 30px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.month span {
  font-size: 18px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.5%;
  color: #000000;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #000000;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: rgb(0, 0, 0) !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

/* ---------------  WEEK 04 ------------ */
fieldset,
.join-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

label {
  margin: 1% 0;
}

/*----------- FORM STYLING --------------*/
.wf1 fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1.5rem 2%;
}

.wf1 legend {
  color: rgb(0, 0, 0);
  padding: 0 0.5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
  margin-right: 6px;
}

.wf1 input[type="submit"] {
  border: none;
  background-image: linear-gradient(#72b3bc, #256f7a);
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;
}

.wf1 input:required {
  border-bottom: solid 8px var(--hover);
}

.wf1 input:required:valid {
  border-bottom: solid 8px green;
}

.membership {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-container {
  top: 20px;
  width: 60%;
  text-align: left;
  border-collapse: collapse; /* Evita los bordes dobles */
}

.table-container caption {
  font-size: 1rem;
  margin: 1rem;
  text-align: left;
}

.thank-you-message {
  margin: 10%;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 5px 0px;
  text-align: center;
  color: #000000;
}

.table-container tr td:first-child {
  text-align: left;
  padding-left: 1%;
}

.table-container tr th:first-child {
  text-align: left;
  padding-left: 1%;
}

.join-form h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0;
}

/*---------------WEEK05--------------*/
.directory-menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: var(--hover);
  text-align: center;
}

.directory-menu button {
  padding: 1rem;
  font-weight: 700;
}

.directory-title {
  text-align: center;
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

img {
  height: 75px;
  max-width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

/* --------------- SECTION AREA ------------ */

/* --- ASIDE-SECTION IS FROM DISCOVER --- */

.aside-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aside-section:hover {
  box-shadow: 0 0 10px var(--hover);
}

.aside-section h3,
.aside-section p {
  margin-bottom: 3%;
}

section {
  margin: 7%;
}

.grid section {
  text-align: left;
}

.grid section > * {
  margin: 0.1rem;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h3 {
  font-size: 1rem;
  align-self: center;
}

.list section:nth-child(even) {
  background-color: #bed;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-weight: 600;
  font-size: smaller;
}

section a {
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}
