* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Noto-Sans", sans-serif;
  background-color: #f0f0f0;
  color: #272626;
}

header {
  display: flex;
  background-image: url(../images/hero-img.webp);
  height: 180px;
  justify-content: space-between;
}

header h1 {
  display: flex;
  color: #4f4f4f;
  font-size: 2rem;
  font-weight: 500;
  width: 200px;
  text-align: center;
  margin: 2% 4%;
}

header div {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin: 2%;
}

.join {
  padding: 10px 24px;
  background-color: #18535c;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 55% 0%;
}

.join:hover {
  background-color: #256f7a;
}

.join:active {
  background-color: #18535c;
}

nav {
  margin: 0 auto;
  max-width: 80%;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
  color: #59848b;
}

#menu::before {
  content: "☰";
  color: black;
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: #24292a;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #889a9e;
  color: #2f3435;
  font-weight: 700;
}

.open a {
  display: block;
}

.active::before {
  content: "📍 "; /* just a wayfinding symbol for the user */
}

/* -------------------------------- */

.canva {
  display: flex;
  flex-direction: column;
  background-color: #e4e7ea;
  width: 92%;
  margin: 2% 4%;
}

/* ----------- WEATHER ------------- */

.weather {
  grid-column: 1 / 2;
  margin: 8%;
  padding: 5px 30px;
  width: 250px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

table th {
  color: white;
}

.number {
  float: right;
  color: #666;
  font-weight: 300;
  font-size: 5.5em;
  line-height: 0.2em;
  margin: 50px 0;
}

.weather h2 {
  font-weight: 300;
  font-size: 2.25em;
}

.weather h3 {
  float: left;
  margin-right: 33px;
  color: #575757;
  font-weight: 400;
  font-size: 1em;
}

span {
  margin-left: 24px;
  color: #575757;
  font-weight: 300;
}

span span {
  margin-left: 0;
}

.dot {
  font-size: 0.9em;
}

.sky {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #03a9f4;
  -webkit-animation: up 0.5s cubic-bezier(0.39, 0, 0.38, 1);
}

.sun {
  position: relative;

  top: -3px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffeb3b;
  -webkit-animation: up 0.5 cubic-bezier(0.39, 0, 0.38, 1);
}

.cloud {
  position: relative;
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
  -webkit-animation: up 0.5 cubic-bezier(0.39, 0, 0.38, 1);
}

table {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  99% {
    -webkit-animation-play-state: paused;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 20px;
  padding: 5px 30px;
  height: 300px;
}

.events {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  margin: 20px;
  padding: 5px 30px;
  width: 100%;
}

.events img {
  max-width: 280px;
  height: auto;
  margin: 4%;
  margin-left: 0;
}

.spotlights {
  margin: 20px;
  padding: 5px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spotlight {
  width: 95%;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spotlight img {
  max-width: 280px;
  height: auto;
  margin: 6%;
}

.spotlight div {
  margin: 0 0 4% 4%;
}

footer {
  background-color: #24292a;
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
