@media (min-width: 830px) {
  .canva {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 250px 600px;
    background-color: #e4e7ea;
    width: 92%;
    margin: 2% 4%;
  }
  .spotlight img,
  .events img {
    min-width: 400px;
  }

  .weather {
    margin: 20%;
  }

  .join {
    margin: 19px 36px;
  }

  .spotlight {
    width: 46%;
  }

  .spotlights {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    flex-wrap: wrap;
  }

  #menu {
    display: none;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
    padding: 1rem 2rem;
  }
}
