* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #272626;
}

header {
  background-color: #59848b;
  padding: 15px;
}

header div {
  display: flex;
  align-items: center;
  margin: 0 7% 1%;
}

.student-img {
  border-radius: 8px;
  max-width: 125px;
  height: auto;
  margin: 0 1%;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 2%;
}

nav {
  margin: 0 auto;
  max-width: 80%;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: #24292a;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #889a9e;
  color: #2f3435;
  font-weight: 700;
}

.open a {
  display: block;
}

.active::before {
  content: "📍 "; /* just a wayfinding symbol for the user */
}

/* finish navigation */

#mode {
  position: absolute;
  top: 0.75rem;
  right: 3rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
}

footer {
  background-color: #24292a;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

main {
  min-height: 520px;
}

h2 {
  margin: 25px 0;
}

section {
  padding: 30px 50px;
  margin: 0 auto;
}
