* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Noto-Sans", sans-serif;
  background-color: #f0f0f0;
  color: #272626;
}

header {
  background-color: #59848b;
  padding: 20px;
}

header div {
  display: flex;
  align-items: center;
  margin: 0 7% 1%;
}

.student-img {
  border-radius: 8px;
  width: 125px;
  height: auto;
  margin: 0 1%;
}

header span {
  color: white;
  margin-left: 2%;
  font-size: 1.5rem;
  font-weight: 500;
}

nav {
  margin: 0 auto;
  max-width: 80%;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #59848b;
}

#menu::before {
  content: "☰";
  color: black;
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: #24292a;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #889a9e;
  color: #2f3435;
  font-weight: 700;
}

.open a {
  display: block;
}

.active::before {
  content: "📍 "; /* just a wayfinding symbol for the user */
}

/* finish navigation */

h1 {
  text-align: center;
  margin: 1rem 0;
  grid-column: 1 / 3;
}

#mode {
  position: absolute;
  top: 0.75rem;
  right: 3rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
}

footer {
  background-color: #24292a;
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

main {
  min-height: 483px;
  margin: 0 auto;
}

h2 {
  margin: 25px 0;
}

section {
  padding: 30px 50px;
  margin: 0 auto;
}

/* Week 03 */

.hero {
  grid-column: 1 / 3;
  margin: 10px auto;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 300px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.herolabel {
  position: absolute;
  top: 30px;
  left: 30px;
  background: radial-gradient(#fff, #82a9c6);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 1rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

.herolabel p {
  margin: 0;
  padding: 0.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Great Vibes", serif;
}

.map {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  height: 500px;
  padding: 20px;
  grid-column: 1 / 3;
}

.map iframe {
  max-width: 100%; /* Asegúrate de que el iframe sea responsivo */
  height: 100%; /* Asegúrate de que el iframe ocupe la altura del contenedor */
}
